# Local (Docker ou MongoDB instalado)
MONGODB_URI=mongodb://localhost:27017

# Remoto (MongoDB Atlas - exemplo)
# MONGODB_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/?retryWrites=true&w=majority

# Com autenticação local
# MONGODB_URI=mongodb://admin:senha@localhost:27017

MONGODB_DATABASE=go_sales
PORT=8080